.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: tomato;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    font-size: .5cm;
}
body
{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
    background-color: thistle;
}
form
{
    margin-top: 50px;
    background-color: snow;
    border: 2px solid black;
    padding: 13px;
}
div{

    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
label,input,button
{
font-size:16px ;
line-height: 1.5;
}
label
{  
    width: 30%;
    margin-right: 9%;
    padding-left: 10px;
}

button
{
    width: 25%;
    margin: 0 auto;
    background-color:slategray;
    padding: 5px;
}
input
{
    flex: auto;
}
error-output
{
    font-size: 16px;
    font-weight: bold;
    color: red;
}
/* adding media queries to the web page  */
@media screen and (max-width:350px) {
label,input,button
{
font-size:12px ;
line-height: 1;
}
label
{  
    width: 30%;
    margin-right: 12%;
    padding-left: 8px;
}
form
{
    margin-top: 49px;
    background-color: rosybrown;
    border: 2px solid black;
    padding: 3px;
}

}

@media screen and (min-width:1500px) {
    label,input,button
    {
        font-size: 23px;
        line-height: 3;
    }
    label
    {  
        width: 30%;
        margin-right: 12%;
        padding-left: 8px;
    }
    form
    {
        margin-top: 49px;
        background-color: snow;
        border: 2px solid black;
        padding: 3px;
    }
    body
    {
        width: 100%;
        max-width: 788px;
        margin: 0px auto;
        padding: 5em;
        background-color: thistle;
    }
    }